html {
    background: #f7fff7;
}

#courses_button {
    color: #78cad2;
}


/* ------------------- BODY ------------------- BODY ------------------- BODY -------------------  */

.content {
    display: absolute;
}

.icon {
    display: block;
    height: 4em;
    margin: auto;
}

.content section {
    text-align: center;
    padding: 2em 8em;
    min-height: 300px;
}

h4 {
    text-align: center;
    padding-bottom: .2em;
    padding-top: 0;
}

p {
    text-align: left;
}

.course-work {
    margin-left: 2em;
}

.course-work a {
    font-family: 'montserratitalic';
    font-size: 1em;
    line-height: 1.3em;
}

.spacer {
    width: 80%;
    max-height: 2em;
    margin: 0;
    padding: 1em;
}


/* ------------------- RESPONSIVE CONTROLS ------------------- RESPONSIVE CONTROLS------------------- RESPONSIVE CONTROLS -------------------  */

@media only screen and (max-width: 864px) {
    .content section {
        padding: 2em 4em;
    }
}

@media only screen and (max-width: 525px) {
    .content section {
        padding: 2em 2em;
    }
}