html {
    background: #f7fff7;
}

header {
    width: 100%;
}

.overlay {
    padding: 0;
    position: fixed;
    width: 100%;
    background: rgba(34, 34, 34, .5);
    z-index: 2;
    height: 100px;
    top: 0;
}

.overlay a {
    float: right;
    line-height: 100px;
    margin: auto 1em;
    color: #f7fff7;
}

.overlay a:hover {
    color: #3891a6;
}

#courses_button {
    color: #78cad2;
}

.logo {
    position: absolute;
    opacity: 1;
}

#logo {
    height: 80px;
    margin: 10px auto;
}

.images {
    width: 100%;
    z-index: 1;
}

.info {
    display: absolute;
}

.icon {
    display: block;
    height: 4em;
    margin: auto;
}

.info section {
    text-align: center;
    padding: 2em 8em;
    min-height: 300px;
}

h4 {
    text-align: center;
    padding-bottom: .2em;
    padding-top: 0;
}

p {
    text-align: left;
}

.course-work {
    margin-left: 2em;
}

.course-work a {
    font-family: 'montserratitalic';
    font-size: 1em;
    line-height: 1.3em;
}

@media only screen and (max-width: 525px) {
    #logo {
        height: 50px;
    }
    .overlay {
        height: 70px;
    }
    .overlay a {
        font-size: .8em;
        line-height: 70px;
    }
    .credit {
        font-size: .6em;
    }
    .footer-link {
        display: block;
    }
}