html {
    background: #f7fff7;
}


/* ------------------- HOME HEADER ------------------- HOME HEADER ------------------- HOME HEADER -------------------  */

#home_button {
    color: #78cad2;
}

.images {
    position: absolute;
}

#gg {
    animation: PHOTO-FADE 15s infinite 10s;
}

#garden {
    animation: PHOTO-FADE 15s infinite 5s;
}

#me {
    animation: PHOTO-FADE 15s infinite;
}


/* ------------------- BODY ------------------- BODY ------------------- BODY -------------------  */

.holder {
    /* used in body to take space of header images, not externally visible */
    width: 100%;
    z-index: 0;
}

.content {
    display: absolute;
}

.icon {
    display: block;
    height: 4em;
    margin: auto;
}

.content section {
    text-align: center;
    padding: 2em 8em;
    min-height: 300px;
}

.flex-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-buttons a {
    line-height: 1.5em;
}

.button:hover {
    background-color: #78cad2;
    color: #f7fff7;
}

#food h1,
#food p,
#service h1,
#service p,
#service a {
    color: #f7fff7;
}

#dhi-link,
#service a {
    font-family: montserratmedium;
    font-size: 1em;
}

#dhi-link:hover,
#service a:hover {
    color: #78cad2;
}

.flex-container,
.flex-photos {
    display: flex;
    align-items: flex-start;
}

.flex-container p,
.captioned-video {
    margin: 1em;
}

iframe {
    border: 3px solid #343434;
}

.caption,
.caption a {
    font-family: 'montserratlight';
    font-size: .65em;
    max-width: 100%;
}

.caption a,
.credit a {
    font-size: 1em;
}

.flex-photos {
    display: flex;
    justify-content: center;
}

.flex-photos img {
    height: 200px;
    border: 3px solid #343434;
}

.captioned-photo {
    margin: 1em;
    max-width: 200px;
}


/* ------------------- SERVICE ------------------- SERVICE ------------------- SERVICE -------------------  */

#service {
    background-color: #343434;
}


/* ------------------- TECH ------------------- TECH ------------------- TECH -------------------  */

#dhi-link {
    color: #343434;
}


/* ------------------- FOOD ------------------- FOOD ------------------- FOOD -------------------  */

#food {
    background-color: #343434;
    /* background-image: url("background-images/soil.jpg"); */
}

.insta {
    width: 100%;
}


/* ------------------- HEADER ANIMATION ------------------- HEADER ANIMATION ------------------- HEADER ANIMATION  -------------------  */

@-webkit-keyframes PHOTO-FADE {
    0%,
    30% {
        opacity: 1;
    }
    36%,
    94% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes PHOTO-FADE {
    0%,
    30% {
        opacity: 1;
    }
    36%,
    94% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes PHOTO-FADE {
    0%,
    30% {
        opacity: 1;
    }
    36%,
    94% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes PHOTO-FADE {
    0%,
    30% {
        opacity: 1;
    }
    36%,
    94% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ------------------- RESPONSIVE CONTROLS ------------------- RESPONSIVE CONTROLS------------------- RESPONSIVE CONTROLS -------------------  */

@media only screen and (max-width: 864px) {
    .content section {
        padding: 2em 4em;
    }
    #food .flex-container {
        flex-wrap: wrap-reverse;
    }
    #tech .flex-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 902px) {
    .flex-photos {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 525px) {
    .content section {
        padding: 2em 2em;
    }
    .content section h1 {
        font-size: 2.3em;
    }
}